@import url("components/navbar.css");
@import url("components/post.css");
@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
