services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fiuba_mentor
    volumes:
      - ./.volumes/postgres/data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
  backend:
    build:  
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/fiuba_mentor
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80" 
    depends_on:
      - backend 