
.body {
        background-color: #fcfcfc; 
    }

.navbar-fiu{
        background: transparent;
    }
.navbar-bis{
        flex-grow: 1;
        justify-content: center;
    }
.subtitulo-sec{
            line-height: 1.6;
    }
.imagen-port {
            border-radius: 20px;
            overflow: hidden;
    }
.masonry-wrapper {
            column-count: 4; 
            column-gap: 1.5rem;
    }
.masonry-item {
            break-inside: avoid;
            margin-bottom: 1.5rem;
            display: inline-block;
            width: 100%;
    }
.card {
            border-radius: 12px; 
            border: none;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
            transition: transform 0.2s ease;
    }