
.body {
        background-color: #fcfcfc; 
    }

.navbar-fiu{
        background: transparent;
    }
.navbar-bis{
        flex-grow: 1;
        justify-content: center;
    }
.subtitulo-sec{
            line-height: 1.6;
    }
.imagen-port {
            border-radius: 20px;
            overflow: hidden;
    }
.masonry-wrapper {
            column-count: 4; 
            column-gap: 1.5rem;
    }