.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 1001;
}
.tituloPopup {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.botones-popup {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.botonPopup {
    border-radius: 50px;
    box-sizing: border-box;
    width: 100px;
}
#botonCrear {
    padding: 0 30px;
}
.input {
    caret-color: blue;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
}