body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.input {
    caret-color: blue;
}

.card-footer {
    display: flex;
    width: 100%;
    border-top: 1px solid #ededed;
}

.card-footer-item {
    flex: 1;
    justify-content: center;
    border-right: 1px solid #ededed;
    transition: background-color 0.2s;
}

.card-footer-item:last-child {
    border-right: none;
}

.card-footer-item:hover {
    background-color: #f5f5f5;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 1001;
}

.tituloPopup {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.botones-popup {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.botonPopup {
    border-radius: 50px;
    box-sizing: border-box;
    width: 100px;
}

.popup-content .textarea {
    resize: none;
    margin-bottom: 10px;
}

#botonCrear {
    padding: 0 30px;
}

.footer-inicio {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.lista-sugerencias-edit {
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1005;
    display: none;
}

.custom-dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
    display: block;
    color: #4a4a4a;
}

.custom-dropdown-item:hover {
    background-color: #f0f0f0;
}